[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==1.9"
djangorestframework = "==3.3"
django-cors-headers = "==1.1"
mysqlclient = "*"


[dev-packages]
django-nose = "*"
pinocchio = "*"
coverage = "*"



[requires]

python_version = "2.7"
